language-file: "en_us.yml"  # Default language file

gui-items:
  - slot: 0
    name: "&aGo to Spawn"
    command: "spawn"
    item: "COMPASS"
    run-as-player: true
    cooldown: 0 # No cooldown
    lore:
      - "&7Click to teleport to spawn"
  - slot: 1
    name: "&cHeal"
    command: "heal"
    item: "GOLDEN_APPLE"
    run-as-player: true
    cooldown: 30 # 30 seconds cooldown
    lore:
      - "&7Click to heal yourself"
  - slot: 2
    name: "&bDiamonds"
    command: "give %player% diamond 1"
    item: "DIAMOND"
    run-as-player: false
    cooldown: 60 # 60 seconds cooldown
    lore:
      - "&7Receive a diamond!"
      - "&7This is a server reward."
